.contenedor{ 



    width: 100%;
    height: 1400px;
    background-color: rgb(152, 238, 144);
}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: rgb(148, 231, 173);
    background-image: url("");
    text-align: center;
    font-size: 30px;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 204, 240);
    display: flex;

}
.contenedor2{
    display: flex;
width: 100%;
height: 1250px;
background-color:rgb(247, 143, 143) ;

}
.izquierda{
    width: 20%;
    height: 1250px;
    background-color: rgb(255, 201, 101);
    font-size: 20px;
    text-align: center;
}
.centro{
width: 60%;
height: 1250px;
background-color: rgb(58, 93, 252);
text-align: center;
font-size: 19px;

}
.derecho{
    width: 20%;
    height: 1300px;
    background-color: rgb(168, 150, 250);

}
.sociales{
    width: 100px;
    height: 78px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
 }
 .matematicas{ 
     width: 100px;
     height: 78px;
     background-color: rgb(255, 255, 255);
     margin: 2px;
 }
 .ingles{ 
     width: 100px;
     height: 78px;
     background-color: rgb(252, 252, 252);
     margin: 2px;
    
 }
 .biologia{
     width: 100px;
     height: 78px;
     background-color: rgb(255, 255, 255);
     margin: 2px;
 }
 .tecnologia{
     width: 100px;
     height: 78px;
     background-color: rgb(255, 255, 255);
     margin: 2px;
 }